<a href="https://colab.research.google.com/github/erikafreeman/FTICRMS-analyses/blob/master/0_CompoundsProportionsUniversal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def userpath(user):
    if user in 'ecf':
        userspecific = "/4-CareerWork/1-PhD"
        return userspecific 
    if user in 'ajt':
        userspecific = ""
        return userspecific 
    else:
        return (user + ' is is not a valid username. Try again. Initials, no caps.')

In [2]:
#ajt or ecf
user = input("Enter username: ")
user_path =  userpath(user)
general_gdrive = "/content/drive/MyDrive"
print('The user of this session is: ' + user)
print('We will connect you to this google drive location: ' + general_gdrive + user_path)

Enter username: ecf
The user of this session is: ecf
We will connect you to this google drive location: /content/drive/MyDrive/4-CareerWork/1-PhD

In [3]:
folder_name = "/1-SoilGradient/"
path = general_gdrive + user_path + folder_name
r_lib = '1-Code/Rlib/library.tar.gz'
csv_dir = path + '/0-Data/0-Raw/'
write_dir = path + '0-Data/1-Processed/'
func_path = path + '1-Code/Functions/'

In [18]:
#colab packages 
from google.colab import drive
from google.colab import data_table

In [5]:
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import regex as re

In [7]:
def tidy_df(df):
    newdf1 = df.drop(['Unnamed: 0'], axis=1)
    newdf2=  newdf1.set_index(['Sample','CompoundClass'])
    return newdf2

In [8]:
#All of the names of things 
figure1B_UNIV = 'InputFigure1B_IntermediateStep' +'UNIV' +'.csv'
figure1B_ALL = 'InputFigure1B_IntermediateStep' +'ALL' +'.csv'
figure1B_IOS = 'InputFigure1B_IntermediateStep' +'IOS' +'.csv'

In [20]:
#Input from elsewhere
all = pd.read_csv(write_dir + figure1B_ALL) 
univ= pd.read_csv(write_dir + figure1B_UNIV) 
ios = pd.read_csv(write_dir + figure1B_IOS) 
all

     Unnamed: 0 Sample  ... TotalM  CommonM_IOS
0             0  C1B05  ...   7161          232
1             1  C1B05  ...   7161          232
2             2  C1B05  ...   7161          232
3             3  C1B05  ...   7161          232
4             4  C1B05  ...   7161          232
..          ...    ...  ...    ...          ...
523         523  H2T60  ...   5690          233
524         524  H2T60  ...   5690          233
525         525  H2T60  ...   5690          233
526         526  H2T60  ...   5690          233
527         527  H2T60  ...   5690          233

[528 rows x 13 columns]

In [10]:
tidy_all = tidy_df(all)
tidy_univ = tidy_df(univ)
tidy_ios = tidy_df(ios)
 

all_sub = tidy_all.add_suffix('_A')
univ_sub = tidy_univ.add_suffix('_U')
ios_sub = tidy_ios.add_suffix('_I')

In [17]:
all_univ = all_sub.join(univ_sub)
all_univ_ios = all_univ.join(ios_sub)


unique_cols= all_univ_ios.T.drop_duplicates().T
unique_cols_clean= unique_cols.fillna(0)
unique_cols_clean.rename(columns={"Position_A": "Position", "Depth_A": "Depth", "SiteName_A": "SiteName", "TotalM_A": "TotalM", "CommonM_IOS_A": "TotalIOS", 
                                  "CommonM_universal_A": "TotalU"}, inplace=True)
unique_cols_clean= unique_cols_clean.fillna(0)
cleanly = unique_cols_clean.drop(columns=["Position_I", "Depth_I", "SiteName_I", "CommonM_universal_I","TotalM_I","CommonM_IOS_I"])
display(cleanly)

                           mz_mean_A  RIi_mean_A  ...     mz_wm_I  CompoundCount_I
Sample CompoundClass                              ...
C1B05  A-Sugars           416.625293    0.000076  ...  371.298549              2.0
       Carbohydrates      381.553937    0.000046  ...    0.000000              0.0
       Cond Hydrocarbon   462.455004    0.000146  ...    0.000000              0.0
       Lignin             513.812413    0.000153  ...  440.118091            328.0
       Lipid              330.700879    0.000052  ...    0.000000              0.0
...                              ...         ...  ...         ...              ...
H2T60  Lignin             481.361638    0.000219  ...  444.128399            329.0
       Lipid              339.815770    0.000095  ...    0.000000              0.0
       Protein            415.667468    0.000119  ...  345.380145             10.0
       Tannin             455.865994    0.000141  ...  439.588628             69.0
       Unsat HydroCarbon  306.787733    0.000085  ...    0.000000              0.0

[528 rows x 18 columns]

TO DO: (Tues Jan 3.2022)
1. Why IOS counts floats?
2. Comment code and type out df rows and columns to confirm things add up.
3. Comment functions and move to .py file.
4. Clean strings and function names 

5. Re-run stats (compare)
6. Re-generate figures (figure out how to plot models in python)